section{
    background-color: rgb(0,0,0);margin-left: 8px;margin-right: 8px;border-radius: 30px;text-align:center;max-width: 2000px;min-width: 600px;height: 800px;margin-top: 2px;

}
h1{
    font-size: 50px;color: rgb(163, 160, 160);margin-bottom: 0px;margin-top: 20px;padding-top: 40px;
}

button{
   display: inline-flex;justify-content: center;cursor: pointer;color:rgb(153, 153, 2);;background-color: white;margin: 1rem;font-size: 30PX ;border-radius: 15PX;font-weight: bolder; --hue: var(--hue-neutral);border: 1px solidhsl(var(--hue),100%,30%);background-color: hsl(var(--hue),100%,50%);border-color: blue;box-sizing: 15PX;font-weight: bolder;margin-top: 30px;text-align: center;align-items: center;
}



p{
    font-size: 29px;background-color: rgb(0, 0, 0);color: rgb(255, 255, 255);
    ;font-weight: 50px;padding: 23px;margin-top: 0px;margin-bottom: 0px;text-align: justify;;border-radius: 0px;max-height: 500px;display: none;
}

/*section{
    box-shadow: inset;outline-width: 15px;outline-color: orangered;margin-top:100PX;border-radius: 15px;margin-bottom: 15px;font-size: small;margin-left: 400px;margin-right: 400px;
}*/

body{
background-color: rgb(53, 53, 53);

}

.dog{
    margin-bottom: 0;padding-bottom: 0;padding-top: 500px;
}

.CONTACT{
    color: blue;
}

@media only screen and (max-width:414px){
    .text{
        visibility: collapse;
    }
.phonetext {
    visibility: visible;
}


}
    




.dog{
    color: rgb(206, 62, 5);
}